@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav {
  @apply flex flex-col justify-between items-center mr-0 ml-4 pl-4 pt-8 pr-4 pb-8 bg-white h-full;
  flex-basis: 25%;
}

.logout h3 {
  color: red;
}

.category {
  @apply mb-4;
  /* height: 50%; */
}

.categoriesList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2rem;
  height: 10rem;
  overflow-y: scroll;
}

.categoriesList li {
  display: flex;
  gap: 10%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
}

.categoriesList li span {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
